In [1]:
import pandas as pd
import numpy as np
import pandahouse as ph
from datetime import date
import holidays
from fbprophet import Prophet

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from ast import literal_eval

In [11]:
connection = dict(database='default',
                  host='https://clickhouse.lab.karpov.courses',
                  user='student',
                  password='dpo_python_2020')

In [4]:
query = """
--соединю 2 таблицы по номеру индекса, т.к для одного студента по разным предметам могут быть разные группы и оплаты
--активные пользователи = ученики, которые решали горошины (не важно верно/неверно)
--ARPU = все оплаты по группам/кол-во платящих клиентов
--ARPAU = все оплаты по группам/кол-во активных клиентов
--CR в покупку = кол-во учеников с оплатами/кол-во всех активных учеников
--СR активного пользователя в покупку = = кол-во учеников с оплатами/кол-во всех активных учеников = тк у нас все 29 из 30 активных оплатили, то 2 CR равны
--CR пользователя из активности по математике (subject = ’math’) в покупку курса по математике
SELECT 
DISTINCT(test_grp),
ttl/ttl_id as ARPPU,
ttl/active_id as ARPU,
ttl_id/active_id as CR_active,
id_math_with_sum/math_active_id as CR_by_math
FROM (SELECT test_grp, active_id, math_active_id, ttl, ttl_id, active_id, math_active_id, id_math_with_sum
from(
WITH (SELECT uniqExact(st_id) from peas) as active_id,
(SELECT uniqExact(st_id) from peas WHERE subject == 'Math') as math_active_id
SELECT
 DISTINCT(test_grp),
 sum(money) over (PARTITION BY test_grp) as ttl,-- ниже задам общую партицию
 uniqExact(st_id) over (PARTITION BY test_grp) as ttl_id, -- ниже задам общую партицию
 active_id,
 math_active_id,
 uniqExact(st_id) FILTER (WHERE subject = 'Math') over (PARTITION BY test_grp) as id_math_with_sum
FROM (
    SELECT
      a.st_id as st_id,
      a.money as money,
      b.test_grp as test_grp,
      a.subject as subject
    FROM (
        SELECT
          row_number() over() as num, -- присвою для каждой таблицы номер строки и использую номер строки как ключ (как по индексам)
          st_id,
          sale_time,
          money,
          subject
        FROM default.final_project_check
    ) as a
    LEFT JOIN (
        SELECT
          num_row,
          st_id,
          test_grp 
        FROM (
            SELECT
              row_number() over() as num_row,
              st_id,
              test_grp
            FROM studs
        )
    ) as b ON a.num = b.num_row 
 )
))
"""
df = ph.read_clickhouse(query, connection=connection)
df

  test_grp         ARPPU     ARPU  CR_active  CR_by_math
0      new  59482.758621  57500.0   0.966667    0.666667
1      old  58965.517241  57000.0   0.966667    0.571429

In [23]:
df_add = pd.read_csv('C:/Users/Marshalkina_nv/DataScienceNat/final_/Проект_2_group_add.csv', sep=',')
df_add.dtypes

id      int64
grp    object
dtype: object

In [31]:
ph.to_clickhouse(df_add, 'final_nat_1', index=False, connection=connection_1)

92

In [28]:
connection_1 = dict(database='test',
                  host='https://clickhouse.lab.karpov.courses',
                  user='student-rw',
                  password='656e2b0c9c')

In [29]:
query_create = """
CREATE TABLE test.final_nat_1 (
    id Int64,
    grp String
    
)
ENGINE = Log
"""
df_create = ph.read_clickhouse(query_create, connection=connection_1)
df_create

ClickhouseException: b'Code: 57. DB::Exception: Table test.final_nat_1 already exists. (TABLE_ALREADY_EXISTS) (version 21.12.2.17 (official build))\n'

In [32]:
# проверила, что таблица записалась в кликхаус
query_test = """
SELECT *
FROM test.final_nat_1
"""
df_new = ph.read_clickhouse(query_test, connection=connection_1)
df_new

           id grp
0     5694584   B
1     5694830   B
2     5695057   B
3     5698872   B
4     5699067   B
..        ...  ..
87  200247820   B
88  201032527   B
89  201067612   B
90  201067653   B
91  201067659   B

[92 rows x 2 columns]